body {
	background: #d1b440;
}

#contenitore {
        border: 2px ridge black;
	width: 70em;
        margin: auto;
        text-align: center;
        font-family: Verdana;
}
a:visited {
	color:black;
	text-decoration:none;
}
a:link {
	color:black;
	text-decoration:none;
}

a:hover {
	color:white;
	text-decoration:none;
} 
a:active {
	color:black;
	text-decoration:none;
}
	


.logo {
        border-bottom: 2px groove red;
        
        text-align: center;
}
h1{
	color: white;
	height: 5px;
	text-align: left;
	font-size: 13px;
}
h2{
	color: black;
	height: 3px;
	text-align: left;
	font-size: 13px;
}


.loginbox {
	width: 15em;
        text-align: center;
	font-size: 13px;
	padding: 1em;
	float: left;

}

.menu {
        padding: 5px 0 5px 0;
	margin: auto;
	font-size: 16px;
}

.contenuto {
	width: 60em;
	font-size: 13px;
	float: left;
        margin: auto;
	
}

.footer {
	clear: left;
}


.loginbox td {
      background: red;
}
	
.loginbox .tdintestazione{
	background: black;
	color: white;
	size: .9em;
	text-decoration: underline;
	
}
	
.loginbox .tdintestazione td:hover{
	background: black;
}
.loginbox .td{
	background: #d1b440;
	color: white;
	size: .9em;
}

.loginbox .td:hover{
	background: green;
	
}
.loginbox .td:active{
	background: green;
	
}


